body {
  font-family: 'Raleway', sans-serif;
  background: #16a085;
  color: #f1c40f;
  line-height: 70px;
  text-align: center;
}
h1 {
  font-size: 40px;
  margin: 50px 0;
}
button {
  background: #16a085;
  font-size: 20px;
  padding: 12px;
  color: #f1c40f;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #f1c40f;
  border-radius: 5px;
}
button:hover {
  opacity: .7;
}
h2 {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
